{% extends 'include/main.html' %} 
{% load static %} 
{% block body_content %} 
{% include 'include/header.html' with active='admin' %}
{% include 'include/sidebar.html' with active='admin' %}
<section class="home-section pt-lg-3 pt-1">

  <div class="position-relative d-lg-none mt-5" style="background-color: #3256a1">
    <div class="container">
      <div class="py-3" style="z-index: 1">
        <div class="">
          <div>
            <p class="m-0 text-white fw-bold fs-5">Add WPS</p>
          </div>
          <!-- <div class="mt-2">
            <a href="{% url 'dashboard' %}" type="button" class="btn btn-info text-white" >CHART</a >
            <a href="{% url 'dashboardtabel' %}" type="button" class="btn btn-info text-white" >TABEL</a >
          </div> -->
        </div>
      </div>
    </div>
    <div class="position-absolute bottom-0 end-0">
      <img src="{% static 'img/utoc_dualleaf.png' %}" alt="" />
    </div>
  </div>
  <div class="d-lg-none px-0">
    {% include 'include/admin_header.html' with active='wps' %}
  </div>
  <div class="p-4 d-none d-lg-block overflow-hidden mt-5" style="background-color: #3256a1" >
    <div class="position-relative">
      <div class="d-flex justify-content-between">
        <div>
          <h1 class="text-white fw-bold m-0">Add WPS</h1>
          <p class="small text-white m-0"> Here you can control everything </p>
        </div>
        <!-- <div class="my-auto" style="z-index: 1">
          <a href="{% url 'dashboard' %}" type="button" class="btn btn-info text-white btn-lg" >CHART</a >
          <a href="{% url 'dashboardtabel' %}" type="button" class="btn btn-info text-white btn-lg" >TABEL</a >
        </div> -->
      </div>
      <div class="position-absolute top-100 start-100 translate-middle left_90" >
        <img src="{% static 'img/utoc_topdual.png' %}" alt="" />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="d-none d-lg-block">
      {% include 'include/admin_header.html' with active='wps' %}
    </div>
    <div class="p-lg-4">
      <div class="row my-3 my-lg-0">
        <form action="" method="post">
          {% csrf_token %}
        <div class="col-12 mx-auto">
          <div class="card shadow-sm border-0 rounded-3">
            <div class="card-header bg-white p-3">
              <p class="m-0 fw-bold fs-5 ">Create WPS</p>
            </div>
            <div class="card-body p-lg-5">
              <div class="row ">
                <div class="col-lg-3">
                  <p class="m-0 text-muted">WPS No</p>
                </div>
                <div class="col-lg-9">
                  <input class="form-control" type="text" name="wps_no" value="{%  if data.wpsno %}{{ data.wpsno}}{% else %}{% endif %}"  />
                </div>
              </div>
              <div class="row mt-3 ">
                <div class="col-lg-3">
                  <p class="m-0 text-muted">Class ID</p>
                </div>
                <div class="col-lg-9">
                  <input class="form-control" type="text" name="class_id" value="{%  if data.classid %}{{ data.classid}}{% else %}{% endif %}"  />
                </div>
              </div>
              <div class="row mt-3 ">
                <div class="col-lg-3">
                  <p class="m-0 text-muted">Description</p>
                </div>
                <div class="col-lg-9">
                  <input class="form-control" type="text" name="wps_desc" value="{%  if data.pipethickness1 %}{{ data.pipethickness1}}{% else %}{% endif %}"  />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-3">
                  <p class="m-0 text-muted">Pipe Size</p>
                </div>
                <div class="col-lg-9">
                  <div class="d-flex">
                    <input class="form-control me-2" type="number" name="size_start" value="{%  if data.pipesize1 %}{{ data.pipesize1}}{% else %}{% endif %}"  />
                    <input class="form-control" type="number" name="size_end" value="{%  if data.pipesize2 %}{{ data.pipesize2}}{% else %}{% endif %}"  />
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-3">
                  <p class="m-0 text-muted">Pipe Thickness</p>
                </div>
                <div class="col-lg-9">
                  <div class="d-flex">
                    <input class="form-control me-2" type="number" name="thickness_start" value="{%  if data.pipethickness1 %}{{ data.pipethickness1}}{% else %}{% endif %}"  />
                    <input class="form-control" type="number" name="thickness_end" value="{%  if data.pipethickness2 %}{{ data.pipethickness2}}{% else %}{% endif %}" />
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-3">
                  <p class="m-0 text-muted">Material</p>
                </div>
                <div class="col-lg-9">
                  
                  <select class="form-select" id="Material_id" name="materials"  onchange="get_grade()">
                    <option selected> Select Material</option>
                    {% for matarial in data1 %}
                   
                    <option value="{{ matarial.id }}">{{ matarial.materials }} </option>
                    {% endfor %}  
                </select>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-3">
                  <p class="m-0 text-muted">Grade</p>
                </div>
                <div class="col-lg-9">
                  <select class="form-select" id="grade_id" name="grades" >
                    <option selected> Select grade</option>
                    <option value=""></option>
                  </select>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-3">
                  <p class="m-0 text-muted">Welding Process</p>
                </div>
                <div class="col-lg-9">
                  <select class="form-select" name="weldProcess" >
                    <option selected> Select weld process</option>
                    {% for weld_process in data3 %}
                    <option value="{{weld_process.id}}">{{ weld_process.weldProcess }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              
         
              <div class="row mt-3">
                <div class="col-12">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
                    <a href="{% url 'wps' %}" class="btn btn-outline-secondary" type="button" > CANCEL </a>
                    <button class="btn btn-info text-white" type="submit" > SUBMIT </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
    
  </div>
  </section>
{% endblock body_content %}

{% block body_js %}
<script>



//   function get_grade() {
//     var materialId = $('#Material_id').val();

//     $.ajax({
//         type: 'GET',
//         url: "/Ad/fetch-material-details/?material=" + materialId,
//         success: function (data) {
//             var gradesSelect = $('select[name="grades"]');
//             gradesSelect.empty();
//             data.products.forEach(function (product) {
//                 gradesSelect.append($('<option>', {
//                     value: product.id,
//                     text: product.GradeNmae  
//                 }));
//             });
//         },
//         error: function (xhr, status, error) {
//             console.error("Error fetching grades:", error);
//         }
//     });
// }




function get_grade() {
    var materialId = $('#Material_id').val();

    $.ajax({
        type: 'GET',
        url: "/Ad/fetch-material-details/?material=" + materialId,
        success: function (data) {

          var gradesSelect = $('#grade_id');
          gradesSelect.empty()
          gardes = data.products

        for ( let i in gardes ){
          grade_id = gardes[i].id;
          grade_value = gardes[i].GradeNmae;
          gradesSelect.append($('<Option>',{
            value: grade_id,
            text: grade_value
          }));
        }
    
        },
        error: function (xhr, status, error) {
            console.error("Error fetching grades:", error);
        }
    });
}

  </script>
{% endblock body_js %}
