{% extends 'include/main.html' %} 
{% load static %} 
{% block body_content %} 
{% include 'include/header.html' with active='admin' %}
{% include 'include/sidebar.html' with active='admin' %}
<section class="home-section pt-lg-3 pt-1">

  <div class="position-relative d-lg-none mt-5" style="background-color: #3256a1">
    <div class="container">
      <div class="py-3" style="z-index: 1">
        <div class="">
          <div>
            <p class="m-0 text-white fw-bold fs-5">Edit & Delete</p>
          </div>
          <div class="mt-2">
            <a href="#" type="button" class="btn btn-danger text-white btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal_{{data.id}}">DELETE</a>
            <a href="{% url 'unew_wpsedit' data.id %}" type="button" class="btn btn-info text-white">EDIT</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="position-absolute bottom-0 end-0">
      <img src="{% static 'img/utoc_dualleaf.png' %}" alt="" />
    </div>
  </div>
  <div class="d-lg-none px-0"> {% include 'include/admin_header.html' with active='wps' %} </div>
  <div class="p-4 d-none d-lg-block overflow-hidden mt-5" style="background-color: #3256a1" >
    <div class="position-relative">
      <div class="d-flex justify-content-between">
        <div>
          <h1 class="text-white fw-bold m-0">Edit & Delete</h1>
          <p class="small text-white m-0"> Here you can control everything </p>
        </div>
        <div class="my-auto" style="z-index: 1">
          <a href="#" type="button" class="btn btn-danger text-white btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal_{{data.id}}">DELETE</a>
          <a href="{% url 'unew_wpsedit' data.id %}" type="button" class="btn btn-info text-white btn-lg">EDIT</a>
        </div>
      </div>
      <div class="position-absolute top-100 start-100 translate-middle left_90" >
        <img src="{% static 'img/utoc_topdual.png' %}" alt="" />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="d-none d-lg-block"> {% include 'include/admin_header.html' with active='wps' %} </div>
    <div class="p-lg-4">
      
      <div class="row my-3 my-lg-0">
        <div class="col-lg-12">
          <div class="card rounded-3 border-0 shadow-sm">
            <div class="card-header bg-white">
              <p class="fw-bold m-0">Profile Overview</p>
              <p class="text-muted m-0 small">Your profile Details</p>
            </div>
            <div class="card-body p-lg-4">
              <div class="row">
                <div class="">
                  <div class="d-flex justify-content-between col-lg-6">
                    <div>
                      <p class="m-0 text-muted">WPS No</p>
                      <p class="m-0 mt-3 text-muted">Class ID </p>
                      <p class="m-0 mt-3 text-muted">Description</p>
                      <p class="m-0 mt-3 text-muted">Pipe Size</p>
                      <p class="m-0 mt-3 text-muted">Pipe Thickness</p>
                      <p class="m-0 mt-3 text-muted">Material</p>
                      <p class="m-0 mt-3 text-muted">Grade</p>
                      <p class="m-0 mt-3 text-muted">Welding Process</p>
                    </div>
                    <div>
                      <p class="m-0 text-start"> {{data.wpsno}}</p>
                      <p class="m-0 mt-3 text-start">{{data.classid}}</p>
                      <p class="m-0 mt-3 text-start">{{data.description}}</p>
                      <p class="m-0 mt-3 text-start"> <span class="text-muted"> Start size : </span>  1.5 | <span class="text-muted">End size : </span> 3.5  </p>
                      <p class="m-0 mt-3 text-start"> <span class="text-muted"> Thickness size : </span> 5 | <span class="text-muted">Thickness size : </span> 10</p>
                      <p class="m-0 mt-3 text-start">{{data.material.materials}} </p>
                      <p class="m-0 mt-3 text-start">{{data.grade.materialgrade}} </p>
                      <p class="m-0 mt-3 text-start">{{data.weldingprocess}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  </section>
  <!-- Modal -->
<div class="modal fade" id="exampleModal_{{data.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body pt-0">
        <div class="text-center">
          <img src="{% static 'img/icons8-warning.gif' %}" width="100" alt="" />
        </div>
        <div class="">
          <p class="m-0 text-center fs-5">Are you sure?</p>
          <p class="m-0 text-center text-muted small"> Do you really want to delete these <span class="text-danger">{{ data.wpsno }}</span> ? This process cannot be undone. </p>
        </div>
        <div class="d-flex justify-content-center pt-3">
          <button type="button" class="btn btn-secondary text-white me-3 w-100" data-bs-dismiss="modal" > CANCEL </button>
          <a href="{% url 'unew_wpsdel' data.id %}" class="btn btn-danger text-white w-100"> DELETE </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body_content %}
