{% extends 'include/main.html' %} 
{% load static %} 
{% block body_content %} 
{% include 'include/header.html' with active='admin' %}
{% include 'include/sidebar.html' with active='admin' %}
<section class="home-section pt-lg-3 pt-1">

  <div class="position-relative d-lg-none mt-5" style="background-color: #3256a1">
    <div class="container">
      <div class="py-3" style="z-index: 1">
        <div class="">
          <div>
            <p class="m-0 text-white fw-bold fs-5">SRC</p>
          </div>
          <div class="mt-2">
            <a href="{% url 'addweldoption' %}" type="button" class="btn btn-info text-white" >+ WELDER</a >
          </div>
        </div>
      </div>
    </div>
    
    <div class="position-absolute bottom-0 end-0">
      <img src="{% static 'img/utoc_dualleaf.png' %}" alt="" />
    </div>
  </div>
  <div class="d-lg-none px-0"> {% include 'include/admin_header.html' with active='createproject' %} </div>
  <div class="p-4 d-none d-lg-block overflow-hidden mt-5" style="background-color: #3256a1" >
    <div class="position-relative">
      <div class="d-flex justify-content-between">
        <div>
          <h1 class="text-white fw-bold m-0">SRC</h1>
          <p class="small text-white m-0"> Here you can control everything </p>
        </div>
        <div class="my-auto" style="z-index: 1">
          <a href="{% url 'addweldoption' %}" type="button" class="btn btn-info text-white btn-lg" >+ WELDER</a >
        </div>
      </div>
      <div class="position-absolute top-100 start-100 translate-middle left_90" >
        <img src="{% static 'img/utoc_topdual.png' %}" alt="" />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="d-none d-lg-block"> {% include 'include/admin_header.html' with active='createproject' %} </div>
    <div class="p-lg-4">
      <div class="row my-3 my-lg-0">
        <div class="col-lg-12">
          <p class="text-primary fs-5 fw-bold m-0 mt-3"> Assigned Weld Classes </p>
          <div class="card shadow-sm border-0 rounded-3 mt-3">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table border border-dark table-striped m-0">
                  <thead>
                    <tr>
                      <th class="">Weld Class</th>
                      <th class="">Description</th>
                      <th class="">PSize</th>
                      <th class="">PSch</th>
                      <th class="">Material</th>
                      <th class="">WPS Num</th>
                      <th class="">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in "12345" %}
                    <tr>
                      <td>0.75 CS SCRD</td>
                      <td>0.75 CS SCRD THK 5.56</td>
                      <td>0.75</td>
                      <td>5.56</td>
                      <td>Carbon Steel</td>
                      <td>N/A</td>
                      <td> <a href="#" class="btn btn-danger text-white btn-sm" ><i class="bi bi-trash3-fill"></i ></a> </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <p class="text-primary fs-5 fw-bold m-0 mt-3">Add Weld Classes</p>
          <div class="card shadow-sm border-0 rounded-3 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-2 col-12">
                  <div class="">
                    <label for="exampleFormControlInput1" class="form-label" >WPS NUM</label >
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter WBS Number" />
                  </div>
                </div>
                <div class="col-lg-2 col-12">
                  <div class="">
                    <label for="exampleFormControlInput1" class="form-label" >Pipe Size</label >
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Pipe Size" />
                  </div>
                </div>
                <div class="col-lg-1 col-12">
                  <div class="">
                    <p class="m-0 mb-2">Size</p>
                    <select class="form-select" aria-label="Default select example" >
                      <option selected>OR</option>
                      <option value="1">AND</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 col-12">
                  <div class="">
                    <label for="exampleFormControlInput1" class="form-label" >Pipe Schedule</label >
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Pipe Schedule" />
                  </div>
                </div>
                <div class="col-lg-1 col-12">
                  <div class="">
                    <p class="m-0 mb-2">Size</p>
                    <select class="form-select" aria-label="Default select example" >
                      <option selected>OR</option>
                      <option value="1">AND</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 col-12">
                  <p class="m-0 mb-2">Size</p>
                  <select class="form-select" aria-label="Default select example" >
                    <option selected>ANY</option>
                    <option value="1">CARBON STEEL</option>
                  </select>
                </div>
                <div class="col-lg-1 my-auto pt-lg-4">
                  <div class="">
                    <button class="btn btn-info text-white">SEARCH</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow-sm border-0 rounded-3 mt-3">
            <div class="card-body">
              <div class="table-responsive">
                <table id="example" class="table table-striped nowrap" style="width: 100%" >
                  <thead>
                    <tr>
                      <th class="">Select</th>
                      <th class="">Welder Class</th>
                      <th class="">Description</th>
                      <th class="">PSize</th>
                      <th class="">PSch</th>
                      <th class="">Material</th>
                      <th class="">WPS Num</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in "12345" %}
                    <tr>
                      <td class=""> <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" /> </div> </td>
                      <td class="">3 CS STD</td>
                      <td class="">3 CS THK 5.49</td>
                      <td class="">3</td>
                      <td class="">5.49</td>
                      <td class="">Carbon Steel</td>
                      <td class="">P1-001B</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  </section>
{% endblock body_content %} 
{% block body_js %}
<script>
  $(document).ready(function () {
    var tabel = $("#example").DataTable({
      buttons: [""],
    });

    tabel.buttons().container().appendTo("#example_wrapper .col-md-6:eq(0)");
  });
</script>
{% endblock body_js %}
