{% extends 'include/main.html' %} 
{% load static %} 
{% block body_content %} 
{% include 'include/header.html' with active='qc' %}
{% include 'include/sidebar.html' with active='qc' %}
<section class="home-section pt-lg-3 pt-1">

  <div class="position-relative d-lg-none mt-5" style="background-color: #3256a1">
    <div class="container">
      <div class="py-3" style="z-index: 1">
        <div class="">
          <div>
            <p class="m-0 text-white fw-bold fs-5">SRC</p>
          </div>
          <div class="mt-2">
          </div>
        </div>
      </div>
    </div>

    <div class="position-absolute bottom-0 end-0">
      <img src="{% static 'img/utoc_dualleaf.png' %}" alt="" />
    </div>
  </div>
  <div class="d-lg-none px-0">
  </div>
  <div class="p-4 d-none d-lg-block overflow-hidden mt-5" style="background-color: #3256a1" >
    <div class="position-relative">
      <div class="d-flex justify-content-between">
        <div>
          <h1 class="text-white fw-bold m-0">SRC</h1>
          <p class="small text-white m-0"> Here you can control everything </p>
        </div>
        <div class="my-auto" style="z-index: 1">
        </div>
      </div>
      <div class="position-absolute top-100 start-100 translate-middle left_90" >
        <img src="{% static 'img/utoc_topdual.png' %}" alt="" />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="d-none d-lg-block">
    </div>
    <div class="p-lg-4 my-3 my-lg-0">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="card shadow-sm border-0 rounded-3">
                    <div class="card-header bg-white p-3">
                        <p class="m-0 fw-bold fs-5 ">Verify flange</p>
                      </div>
                      <form  method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                      <div class="card-body p-lg-5">
                        <div class="row">
                          <div class="col-lg-12">
                            <p class="m-0 text-muted">Do you have the correct Gasket type</p>
                            <div class="row mt-1">
                                <div class="col-lg-4 col-4">
                                    <input type="radio" class="btn-check" name="is_gasket_type_correct" value="YES" id="option1" >
                                    <label class="btn w-100 btn-outline-danger" for="option1">YES</label>
                                </div>
                                <div class="col-lg-4 col-4">
                                    <input type="radio" class="btn-check" name="is_gasket_type_correct" value="NO" id="option2">
                                    <label class="btn w-100 btn-outline-success" for="option2">NO</label>
                                </div>
                                <div class="col-lg-4 col-4">
                                    <input type="radio" class="btn-check" name="is_gasket_type_correct" value="N/A" id="option4">
                                    <label class="btn w-100 btn-outline-secondary" for="option4">N/A</label>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-lg-12">
                            <p class="m-0 text-muted">Are the bolts properly lubricated with correct BOSTIK NEVER-SEEZ lubricant?</p>
                            <div class="row mt-1">
                              
                                <div class="col-lg-4 col-4">
                                    <input type="radio" class="btn-check" name="are_bolts_lubricated" value="YES" id="option12" >
                                    <label class="btn w-100 btn-outline-danger" for="option12">YES</label>
                                </div>
                                <div class="col-lg-4 col-4">
                                    <input type="radio" class="btn-check" name="are_bolts_lubricated" value="NO" id="option22">
                                    <label class="btn w-100 btn-outline-success" for="option22">NO</label>
                                </div>
                                <div class="col-lg-4 col-4">
                                    <input type="radio" class="btn-check" name="are_bolts_lubricated" value="N/A" id="option42">
                                    <label class="btn w-100 btn-outline-secondary" for="option42">N/A</label>
                                </div>
                            </div>
                          </div>
           
                        </div>
                        <div class="row mt-3">
                          <div class="col-lg-12">
                            <p class="m-0 text-muted">Are the flange gaps within tolerance?</p>
                            <div class="row mt-1">
                              
                                <div class="col-lg-4 col-4">
                                    <input type="radio" class="btn-check" name="is_flange_gap_within_tolerance" value="YES" id="option13" >
                                    <label class="btn w-100 btn-outline-danger" for="option13">YES</label>
                                </div>
                                <div class="col-lg-4 col-4">
                                    <input type="radio" class="btn-check" name="is_flange_gap_within_tolerance" value="NO" id="option23">
                                    <label class="btn w-100 btn-outline-success" for="option23">NO</label>
                                </div>
                                <div class="col-lg-4 col-4">
                                    <input type="radio" class="btn-check" name="is_flange_gap_within_tolerance" value="N/A" id="option43">
                                    <label class="btn w-100 btn-outline-secondary" for="option43">N/A</label>
                                </div>
                            </div>
                          </div>
                
                        </div>
                        <div class="row mt-3">
                          <div class="col-lg-12">
                            <p class="m-0 text-muted">Are the flanges properly aligned?</p>
                            <div class="row mt-1">
                              
                                <div class="col-lg-4 col-4">
                                    <input type="radio" class="btn-check" name="are_flanges_aligned" value="YES" id="option14" >
                                    <label class="btn w-100 btn-outline-danger" for="option14">YES</label>
                                </div>
                                <div class="col-lg-4 col-4">
                                    <input type="radio" class="btn-check" name="are_flanges_aligned" value="NO" id="option24">
                                    <label class="btn w-100 btn-outline-success" for="option24">NO</label>
                                </div>
                                <div class="col-lg-4 col-4">
                                    <input type="radio" class="btn-check" name="are_flanges_aligned" value="N/A" id="option44">
                                    <label class="btn w-100 btn-outline-secondary" for="option44">N/A</label>
                                </div>
                            </div>
                          </div>
                 
                        </div>

                        <div class="row mt-3">
                            <div class="col-lg-12">
                              <p class="m-0 text-muted">Do the faces show signs of corrosion?</p>
                              <div class="row mt-1">
                                
                                  <div class="col-lg-4 col-4">
                                      <input type="radio" class="btn-check" name="is_sign_of_corrosion" value="YES" id="option15" >
                                      <label class="btn w-100 btn-outline-danger" for="option15">YES</label>
                                  </div>
                                  <div class="col-lg-4 col-4">
                                      <input type="radio" class="btn-check" name="is_sign_of_corrosion" value="NO" id="option25">
                                      <label class="btn w-100 btn-outline-success" for="option25">NO</label>
                                  </div>
                                  <div class="col-lg-4 col-4">
                                      <input type="radio" class="btn-check" name="is_sign_of_corrosion" value="N/A" id="option45">
                                      <label class="btn w-100 btn-outline-secondary" for="option45">N/A</label>
                                  </div>
                              </div>
                            </div>
                   
                          </div>

                          <div class="row mt-3">
                            <div class="col-lg-12">
                              <p class="m-0 text-muted">Final qc photo</p>
                              
                              <input class="form-control mt-1" value="" name="final_qc_image" type="file"  />
                            </div>
                            
                          </div>
                        
                        
      
                        <div class="row mt-3">
                          <div class="col-12">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                              <a href="{% url 'weldprocess' %}" class="btn btn-outline-secondary" type="button"> CANCEL </a>
                              <!-- <a href="{% url 'weldprocess' %}" class="btn btn-info text-white" type="submit"> SUBMIT </a> -->
                              <button type="submit" class="btn btn-info text-white"> NEXT </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      </form>
                  </div>
            </div>
        </div>
   
    </div>
    
  </div>
  </section>
{% endblock body_content %} 
{% block body_js %}

{% endblock body_js %}
