{% extends 'include/main.html' %} 
{% load static %} 
{% block body_content %} 
{% include 'include/header.html' with active='rfi_create' %}
{% include 'include/sidebar.html' with active='rfi_create' %}
<section class="home-section pt-lg-3 pt-1">

  <div class="position-relative d-lg-none mt-5" style="background-color: #3256a1">
    <div class="container">
      <div class="py-3" style="z-index: 1">
        <div class="">
          <div>
            <p class="m-0 text-white fw-bold fs-5">RFI</p>
          </div>
          <div class="mt-2">
            <a href="{% url 'rficreate' %}" type="button" class="btn btn-info text-white">+ REQUEST</a>
          </div>
        </div>
      </div>
    </div>

    <div class="position-absolute bottom-0 end-0">
      <img src="{% static 'img/utoc_dualleaf.png' %}" alt="" />
    </div>
  </div>
  <div class="p-4 d-none d-lg-block overflow-hidden mt-5" style="background-color: #3256a1" >
    <div class="position-relative">
      <div class="d-flex justify-content-between">
        <div>
          <h1 class="text-white fw-bold m-0">RFI</h1>
          <p class="small text-white m-0"> Here you can control everything </p>
        </div>
        <div class="my-auto" style="z-index: 1">
          <a href="{% url 'rficreate' %}" type="button" class="btn btn-info text-white btn-lg">+ REQUEST</a>
        </div>
      </div>
      <div class="position-absolute top-100 start-100 translate-middle left_90" >
        <img src="{% static 'img/utoc_topdual.png' %}" alt="" />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="p-lg-4">
      <div class="my-3 my-lg-0">
        <div class="card shadow-sm border-0 rounded-3 mt-3">
          <div class="card-header bg-white p-3">
            <p class="m-0 fw-bold fs-5 ">RFI requested list </p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="table-responsive datatabel_style pb-2">
                  <table id="example" class="table  m-0 nowrap" style="width: 100%">
                    <thead>
                      <tr>
                        <th class="text-center text-muted">RFI No </th>
                        <th class="text-center text-muted">Date</th>
                        <th class="text-center text-muted">location</th>
                        <th class="text-center text-muted">Inspector Name</th>
                        <th class="text-center text-muted">Discipline</th>
                        <th class="text-center text-muted">Inspection item</th>
                        <th class="text-center text-muted">Remarks</th>
                        <th class="text-center text-muted">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for rfi in data %}
                      <tr>
                        <td class="text-center align-middle">{{rfi.rfino}}</td>
                        <td class="text-center align-middle">{{rfi.rfidate}}</td>
                        <td class="text-center align-middle"> {{rfi.location}}</td>
                        <td class="text-center align-middle">{{rfi.inspectorname}}</td>
                        <td class="text-center align-middle">{{rfi.discipline}}</td>
                        <td class="text-center align-middle">{{rfi.inspect_item}}</td>
                        <td class="text-center align-middle">
                          {{rfi.wit}}
                          {% if rfi.hold == "on" %}
                            HOLD
                          {% endif %}

                          {% if rfi.witness == "on" %}
                            , WIT
                          {% endif %}

                          {% if rfi.inspection == "on" %}
                            , INSPECTION
                          {% endif %}

                          {% if rfi.review == "on" %}
                            , REVISION
                          {% endif %}
                        </td>
                        <td class="text-center align-middle"> 
                          <a href="" class="text-decoration-none text-info me-3 " > <i class="bi bi-file-pdf-fill"></i>VIEW</a> 
                          <a href="" class="text-decoration-none text-info me-3 " >EDIT</a> 
                          <a href="" class="text-decoration-none  text-danger "data-bs-toggle="modal" data-bs-target="#exampleModal_{{materials.id}}" >DELETE</a>
                        </td>
                    </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  </section>
{% endblock body_content %} 
{% block body_js %}

{% endblock body_js %}
