{% extends 'include/main.html' %} 
{% load static %} 
{% block body_content %} 
{% include 'include/header.html' with active='tfa_flange' %}
{% include 'include/sidebar.html' with active='tfa_flange' %}
<section class="home-section pt-lg-3 pt-1">

  <div class="position-relative d-lg-none mt-5" style="background-color: #3256a1">
    <div class="container">
      <div class="py-3" style="z-index: 1">
        <div class="">
          <div>
            <p class="m-0 text-white fw-bold fs-5">SRC</p>
          </div>
          <div class="mt-2">
          
          </div>
        </div>
      </div>
    </div>

    <div class="position-absolute bottom-0 end-0">
      <img src="{% static 'img/utoc_dualleaf.png' %}" alt="" />
    </div>
  </div>
  <div class="d-lg-none px-0">
    {% include 'include/tfa_header.html' with active='Overview' %}
  </div>
  <div class="p-4 d-none d-lg-block overflow-hidden mt-5" style="background-color: #3256a1" >
    <div class="position-relative">
      <div class="d-flex justify-content-between">
        <div>
          <h1 class="text-white fw-bold m-0">SRC</h1>
          <p class="small text-white m-0"> Here you can control everything </p>
        </div>
        <div class="my-auto" style="z-index: 1">
        
        </div>
      </div>
      <div class="position-absolute top-100 start-100 translate-middle left_90" >
        <img src="{% static 'img/utoc_topdual.png' %}" alt="" />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="d-none d-lg-block">
      {% include 'include/tfa_header.html' with active='Overview' %}
    </div>
    <div class="p-lg-4 my-3 my-lg-0">
      <div class="row ">
        <div class="col-lg-8 col-12">
          <div class="col-12 mx-auto">
              <div class="card border-0 shadow-sm rounded-3">
                <div class="card-header bg-white p-3">
                  <p class="m-0 fw-bold fs-5 ">Overview </p>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-3 col-6">
                      <p class="small text-muted m-0">Temporary Tag </p>
                    </div>
                    <div class="col-lg-9 col-6">
                      <p class="small m-0">{{tfa.permanent_joint_id}} </p>
                    </div>
                  </div>
                  <div class="border_seprator my-2"></div>
                  <div class="row">
                    <div class="col-lg-3 col-6">
                      <p class="small text-muted m-0">Tightening Method </p>
                    </div>
                    <div class="col-lg-9 col-6">
                      <p class="small m-0">{{tfa.tightening_method}}</p>
                    </div>
                  </div>
                  <div class="border_seprator my-2"></div>
                  <div class="row">
                    <div class="col-lg-3 col-6">
                      <p class="small text-muted m-0">Location</p>
                    </div>
                    <div class="col-lg-9 col-6">
                      <p class="small m-0">{{tfa.location}}</p>
                    </div>
                  </div>
                  <div class="border_seprator my-2"></div>
                  <div class="row">
                    <div class="col-lg-3 col-6">
                      <p class="small text-muted m-0">Target Value</p>
                    </div>
                    <div class="col-lg-9 col-6">
                      <p class="small m-0">{{tfa.location}}</p>
                    </div>
                  </div>
                  <div class="border_seprator my-2"></div>
                  <div class="row">
                    <div class="col-lg-3 col-6">
                      <p class="small text-muted m-0">Documents</p>
                    </div>
                    <div class="col-lg-9 col-6">
                      <p class="small m-0">{{tfa.location}}</p>
                    </div>
                  </div>
                  <div class="border_seprator my-2"></div>
                  <div class="row">
                    <div class="col-lg-3 col-6">
                      <p class="small text-muted m-0">ISO DRG</p>
                    </div>
                    <div class="col-lg-9 col-6">
                      <p class="small m-0 text-danger">
                        <i class="bi bi-file-pdf-fill"></i>
                        {{tfa.location}}</p>
                    </div>
                  </div>
                  
                 
                </div>
           
              </div>
          </div>
          <div class="col-12 mx-auto mt-3">
            <div class="card border-0 shadow-sm rounded-3">
              <div class="card-header bg-white p-3">
                <p class="m-0 fw-bold fs-5 ">Specifications </p>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-3 col-6">
                    <p class="small text-muted m-0">Flange Type </p>
                  </div>
                  <div class="col-lg-9 col-6">
                    <p class="small m-0">{{tfa.flange_material}} </p>
                  </div>
                </div>
                <div class="border_seprator my-2"></div>
                <div class="row">
                  <div class="col-lg-3 col-6">
                    <p class="small text-muted m-0">Bolt Material </p>
                  </div>
                  <div class="col-lg-9 col-6">
                    <p class="small m-0">{{tfa.bolt_material}} </p>
                  </div>
                </div>
                <div class="border_seprator my-2"></div>
                <div class="row">
                  <div class="col-lg-3 col-6">
                    <p class="small text-muted m-0">Nut Material</p>
                  </div>
                  <div class="col-lg-9 col-6">
                    <p class="small m-0">{{tfa.nut_material}} </p>
                  </div>
                </div>
                <div class="border_seprator my-2"></div>
                <div class="row">
                  <div class="col-lg-3 col-6">
                    <p class="small text-muted m-0">Size (NPS)</p>
                  </div>
                  <div class="col-lg-9 col-6">
                    <p class="small m-0">{{tfa.nut_material}} </p>
                  </div>
                </div>
                <div class="border_seprator my-2"></div>
                <div class="row">
                  <div class="col-lg-3 col-6">
                    <p class="small text-muted m-0">Bolt Stud Size</p>
                  </div>
                  <div class="col-lg-9 col-6">
                    <p class="small m-0">{{tfa.bolt_diameter}} </p>
                  </div>
                </div>
                <div class="border_seprator my-2"></div>
                <div class="row">
                  <div class="col-lg-3 col-6">
                    <p class="small text-muted m-0">Gasket</p>
                  </div>
                  <div class="col-lg-9 col-6">
                    <p class="small m-0">{{tfa.gasket_material}} </p>
                  </div>
                </div>
                <div class="border_seprator my-2"></div>
                <div class="row">
                  <div class="col-lg-3 col-6">
                    <p class="small text-muted m-0">Flange Rating</p>
                  </div>
                  <div class="col-lg-9 col-6">
                    <p class="small m-0">{{tfa.flange_rating}} </p>
                  </div>
                </div>
                <div class="border_seprator my-2"></div>
                <div class="row">
                  <div class="col-lg-3 col-6">
                    <p class="small text-muted m-0">Construction Class</p>
                  </div>
                  <div class="col-lg-9 col-6">
                    <p class="small m-0">{{tfa.flange_rating}}</p>
                  </div>
                </div>

                
               
              </div>
         
            </div>
        </div>

        <div class="col-12 mx-auto mt-3">
          <div class="card border-0 shadow-sm rounded-3">
            <div class="card-header bg-white p-3">
              <p class="m-0 fw-bold fs-5 ">Tighten Passes </p>
            </div>
            <div class="card-body">
              <div class="table-responsive  pb-2">
                <table  class="table m-0 nowrap" >
                  <thead class="bg-grey p-2 rounded-3 border-0">
                    <tr>
                      <th class="text-start small text-muted border-0">Pass</th>
                      <th class="text-start small text-muted border-0">Target Value</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                    <tr>
                      <td class=" text-start small align-middle">PassOne </td>
                      <td class=" text-start small align-middle">{{tfa.pass_one}} </td>
                    </tr>
                    <tr>
                      <td class=" text-start small align-middle">PassTwo </td>
                      <td class=" text-start small align-middle">{{tfa.pass_two}} </td>
                    </tr>
                    <tr>
                      <td class=" text-start small align-middle">PassThree </td>
                      <td class=" text-start small align-middle">{{tfa.pass_three}} </td>
                    </tr>
                    <tr>
                      <td class=" text-start small align-middle">PassFour </td>
                      <td class=" text-start small align-middle">{{tfa.pass_four}} </td>
                    </tr>
             
                  </tbody>
                </table>
              </div>

              
             
            </div>
       
          </div>
      </div>


        </div>
        <div class="col-lg-4 col-12 m-lg-0 my-3">
          <div class="col-12 mx-auto">
            <div class="card border-0 shadow-sm rounded-3">
              <div class="card-header bg-white p-3">
                <p class="m-0 fw-bold fs-5 ">History </p>
              </div>
              <div class="card-body">

                <div class="row">
                  <div class="col-lg-4 col-4">
                    <p class="small text-muted m-0">Status </p>
                  </div>
                  <div class="col-lg-4 col-4">
                    <p class="small text-muted m-0">Operator </p>
                  </div>
                  <div class="col-lg-4 col-4">
                    <p class="small text-muted m-0">Date </p>
                  </div>
                </div>
                <div class="border_seprator my-2"></div>
                {% for history in tfa_history %}
                <div class="row">
                  <div class="col-lg-4 col-4">
                    <p class="small  m-0"><span class=" {% if history.status == 'qcpass' %}
                      alert-success border-success 
                     {% elif history.status == 'untouched'  %}
                     alert-warning border-warning 
                     {% elif history.status == 'tightened'  %}
                     alert-info border-info 
                     {% endif %} alert p-0 px-1  m-0">{{history.status  }} </span>  </p>
                  </div>
                  <div class="col-lg-4 col-4">
                    <p class="small  m-0">{{history.operator}}</p>
                  </div>
                  <div class="col-lg-4 col-4">
                    <p class="small  m-0">{{history.created_on}} </p>
                  </div>
                  <hr class="border my-2">
                  {% if history.status == 'tightened'  %}
                  <div class="col-lg-3 col-3">
                    <img src="{{tfa_photos.flange_face_image.url}}" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-3 col-3">
                    <img src="{{tfa_photos.gasket_image.url}}" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-3 col-3">
                    <img src="{{tfa_photos.assembled_image.url}}" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-3 col-3">
                    <img src="{{tfa_photos.check_image.url}}" class="img-fluid" alt="">
                  </div>
                  {% elif history.status == 'qcpass'  %}
                  <div class="col-lg-3 col-3">
                    <img src="{{tfa_verify.final_qc_image.url}}" class="img-fluid" alt="">
                  </div>

                  {% endif %}
                </div>
                
                <div class="border_seprator my-2"></div>
                {% endfor %}
            
             


             
              </div>
         
            </div>
        </div>

        </div>

      </div>
    </div>
    
  </div>
  </section>
{% endblock body_content %} 
{% block body_js %}

{% endblock body_js %}