{% extends 'include/main.html' %} 
{% load static %} 
{% block body_content %} 
{% include 'include/header.html' with active='tfa_dash' %}
{% include 'include/sidebar.html' with active='tfa_dash' %}
<section class="home-section pt-lg-3 pt-1">

  <div class="position-relative d-lg-none mt-5" style="background-color: #3256a1">
    <div class="container">
      <div class="py-3" style="z-index: 1">
        <div class="">
          <div>
            <p class="m-0 text-white fw-bold fs-5">SRC Dashboard</p>
          </div>
          <div class="mt-2">
            <!-- <a href="" type="button" class="btn btn-success text-white">SCANNER</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="position-absolute bottom-0 end-0">
      <img src="/static/img/utoc_dualleaf.png" alt="">
    </div>
  </div>
  <div class="d-lg-none px-0">
  </div>
  <div class="p-4 d-none d-lg-block overflow-hidden mt-5" style="background-color: #3256a1" >
    <div class="position-relative">
      <div class="d-flex justify-content-between">
        <div>
          <h1 class="text-white fw-bold m-0">SRC Dashboard </h1>
          <p class="small text-white m-0"> Here you can control everything </p>
        </div>
        <div class="my-auto" style="z-index: 1">
            <!-- <a href="" type="button" class="btn btn-success text-white btn-lg">SCANNER</a> -->
        </div>
      </div>
      <div class="position-absolute top-100 start-100 translate-middle left_90" >
        <img src="{% static 'img/utoc_topdual.png' %}" alt="" />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="d-none d-lg-block">
      </div>
    <div class="p-lg-4 my-3 my-lg-0">
      <div class="row ">
        <p class="fs-3 fw-bold text-primary m-0 mb-3">TFA</p>
        <div class="col-lg-3 mb-3 mt-lg-0">
          <div class="card shadow-sm border-0 h-100   alert-success rounded-3">
            <div class="card-header bg-none alert-success border-success">
                <p class=" fw-bold m-0 fs-5 text-center text-success">Untouch </p>
            </div>
            <div class="card-body">
                <div class="" >
                    <p id="count1" class="my-auto display-4 text-center m-0 fw-bold " ></p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3 mt-lg-0">
          <div class="card shadow-sm border-0 h-100 rounded-3 border-primary alert-primary">
            <div class="card-header bg-none alert-primary border-primary">
                <p class=" fw-bold m-0 fs-5 text-center text-primary">Progress </p>
            </div>
            <div class="card-body">
              <p id="count2" class="display-4 text-center m-0 fw-bold " ></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3 mt-lg-0">
          <div class="card shadow-sm border-0 h-100 rounded-3 border-info alert-info">
            <div class="card-header bg-none alert-info border-info">
                <p class=" fw-bold m-0 fs-5 text-center text-info">QC Pass </p>
            </div>
            <div class="card-body">
              <p id="count3" class="display-4 text-center m-0 fw-bold " ></p>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-3 mb-3 mt-lg-0">
          <div class="card shadow-sm border-0 h-100 rounded-3 border-dark alert-dark">
            <div class="card-header bg-none alert-dark border-dark">
                <p class=" fw-bold m-0 fs-5 text-center text-dark">Assembled </p>
            </div>
            <div class="card-body">
              <p id="count4" class="display-4 text-center m-0 fw-bold " ></p>
            </div>
          </div>
        </div> -->
        <div class="col-lg-3 mb-3 mt-lg-0">
            <div class="card shadow-sm border-0 h-100 rounded-3 border-warning alert-warning">
                <div class="card-header bg-none alert-warning border-warning">
                    <p class=" fw-bold m-0 fs-5 text-center text-warning">QA Approve </p>
                </div>
              <div class="card-body">
                <p id="count5" class="display-4 text-center m-0 fw-bold " ></p>
              </div>
            </div>
          </div>
          
          <!-- <div class="col-lg-2 mt-lg-0">
            <div class="card shadow-sm border-0 h-100 rounded-3 border-dark alert-dark">
                <div class="card-header bg-none alert-dark border-dark">
                    <p class=" fw-bold m-0 fs-5 text-center text-dark">QC </p>
                </div>
              <div class="card-body">
                <p id="count6" class="display-4 text-center m-0 fw-bold " ></p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 mt-lg-0">
            <div class="card shadow-sm border-0 h-100 rounded-3 border-danger alert-danger">
                <div class="card-header bg-none alert-danger border-danger">
                    <p class=" fw-bold m-0 fs-5 text-center text-danger">QA </p>
                </div>
              <div class="card-body">
                <p id="count7" class="display-4 text-center m-0 fw-bold " ></p>
              </div>
            </div>
          </div> -->
      </div>

    </div>
  </div>
  </section>
  
{% endblock body_content %} 
{% block body_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/helpers.esm.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", () => {
    function counter(id, start, end, duration) {
      let obj = document.getElementById(id),
        current = start,
        range = end - start,
        increment = end > start ? 1 : -1,
        step = Math.abs(Math.floor(duration / range)),
        timer = setInterval(() => {
          current += increment;
          obj.textContent = current;
          if (current == end) {
            clearInterval(timer);
          }
        }, step);
    }
    counter("count1", 0, 25, 3000);
    counter("count2", 0, 50, 3000);
    counter("count3", 0, 36, 3000);
    // counter("count4", 0, 100, 3000);
    counter("count5", 0, 70, 3000);
    // counter("count6", 0, 80, 3000);
    // counter("count7", 0, 80, 3000);
  });

  
</script>
{% endblock body_js %}
