{% load static %}
<footer class="footer">
  <div class="wave-bg-lotion border-top" style="background-color: #112f70 !important">
    <div class="container-fluid overflow-hidden">
      <div class="position-relative py-4 py-md-5 py-xl-8">
        <div class="position-absolute top-0 end-0"> <img src="{% static 'img/hz_downleaf_footer.svg' %}" class="img-fluid" alt="" /> </div>
        <div class="position-absolute bottom-0 start-0"> <img src="{% static 'img/hz_bottom_leaf_home.svg' %}" class="img-fluid" alt="" /> </div>
        <div class="row gy-4 gy-md-0">
          <div class="col-xs-12 col-md-12 order-1 order-md-0 text-center mx-auto">
            <div class="card border-0 bg-transparent mx-auto">
              <div class="card-body text-center">
                <img src="{% static 'img/allawrds.png' %}" class="img-fluid border p-1 rounded-3" alt="" />
              </div>
            </div>
            <div class="copyright text-center text-white mt-3"> Copyright © 2023 UTOC Engineering Pte. Ltd. All Rights </div>
            <div class="credits text-white text-center mt-2 small"> Built by <a href="#" class="text-white text-decoration-none">UTOC Engineering Pte Ltd </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
